.nav {
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.nav__link {
    list-style-type: none;
    font-size: 2rem;
    transition: .1s ease;
}

.nav__link:hover {
    transform: scale(1.2);
}

.nav__icon {
    color: white;
}

.nav__icon:hover {
    color: rgb(149, 174, 255);
}

.mainContainer {
    padding: 2rem;
}